<h3>Current Counter Value : {{ counter() }}</h3>

<button class="button" (click)="increment()">Increment</button>

<button class="button display-block mt-20" (click)="multiplier = 2">
  Set Multiplier as 2
</button>

<button class="button display-block mt-20" (click)="updatePersonAge()">
  Update Person Age
</button>

<button class="button display-block mt-20" (click)="setSamePerson()">
  Set Same Person
</button>

<h3>Counter doubled value : {{ derivedCounter() }}</h3>

<h3>Person Name : {{ name() }}</h3>
<h3>Person age : {{ person().age }}</h3>
