<input
  #checkBox
  type="checkbox"
  [checked]="isDeferredBlock()"
  (change)="isDeferredBlock.set(true)"
  id="control-block-checkbox"
/>
<label for="control-block-checkbox"
  >Click on checkbox to render child component</label
>

@defer (when isDeferredBlock()) {
<app-child></app-child>
} @placeholder {
<h5>Placeholder</h5>
} @loading(minimum 1s){
<h5>Loading ...</h5>
} @error {
<h5>Failed to load child component</h5>
}

<!-- @defer(on interaction){
<app-child></app-child>
} @placeholder {
<h5>Placeholder (Click on me to render)</h5>
}

---------------------------------------
@defer(on hover){
<app-child></app-child>
} @placeholder {
<h5>Placeholder (hover on me to render)</h5>
}

---------------------------------------
@defer(on timer(5s)){
<app-child></app-child>
}@loading(minimum 2s) {
<h5>Loading</h5>
}

---------------------------------------
@defer(on idle){
<app-child class="scroll-placeholder"></app-child>
}

---------------------------------------
@defer(on viewport){
<app-child></app-child>
}@placeholder{
<h5>Placeholder enter viewport</h5>
}@loading(minimum 2s) {
<h5>Loading</h5>
} -->
