.button {
  padding: 15px;
  width: fit-content;
  text-align: center;
  background-color: rgb(229, 144, 33);
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  border: transparent;
  border-radius: 5px;
}

.display-block {
  display: block;
}

.mt-20 {
  margin-top: 20px;
}
